*{
    box-sizing: border-box;
}

.kankulyator{
    /* background: silver; */
    padding: 30px;
}
.parent{
    background: rgb(145, 16, 132);
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
    gap: 5px;
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    transition: 1s;
}
.chaild{
    background: rgb(15, 15, 15);
    display: grid;
    place-items: center;
}
.chaild:hover{
    background: indigo;
    cursor: pointer;
}
.chaild:active{
    background: rgb(62, 71, 203);
    cursor: pointer;
    opacity: .3;
}
.chaild1{
    background: rgb(220, 119, 61);
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    place-items: center;
}
.chaild1:hover{
    background: rgb(158, 227, 30);
    cursor: pointer;
}
.chaild1:active{
    background: rgb(163, 207, 50);
    cursor: pointer;
    opacity: .3;
}
.chaild2{
    background: rgb(54, 54, 223);
    grid-column: 4/5;
    grid-row: 5/7;
    display: grid;
    place-items: center;
}
.chaild2:hover{
    background: rgb(211, 90, 232);
    cursor: pointer;
}
.chaild2:active{
    background: rgb(22, 27, 188);
    cursor: pointer;
    opacity: .3;
}
.chaild3{
    background: rgb(15, 15, 15);
    grid-column: 1/5;
    grid-row: 1/2;
    display: grid;
    place-items: center;
}
.chaild3 input{
    background: rgb(15, 15, 15);
    width: 90%;
    height: 10vh;
    border: 1px solid #fff;
}
.chaild4{
    background: rgb(15, 15, 15);
    grid-column: 1/3;
    grid-row: 6/7;
    display: grid;
    place-items: center;
}
.chaild4:hover{
    background: indigo;
    cursor: pointer;
}
.chaild4:active{
    background: rgb(62, 71, 203);
    cursor: pointer;
    opacity: .3;
}